# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\github1\guogit\spring-cloud_-study\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
